body{
    background-color: gold;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body{
  background-color: gold;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  text-align: left;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


h1{
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  text-align: center;
  
}
h2{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
h3{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
h4{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}
h5{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: large;
}
h6{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}


.topnav {
    background-color: #333;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: gold;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: gold;
  }
  

input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ddd 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px; 
  margin-bottom: 16px; 
  resize: vertical 
}
input[type=submit] {
  background-color: black;
  color: #ddd;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: black;
}
.container {
  border-radius: 5px;
  padding: 20px;
}

.widget{
  text-align: center;
}
.weather-info{
  font-family: 'Times New Roman', Times, serif;
  font-size: large;
  text-align: center;
}
p{
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: larger;
}
img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}